body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/*-------------header-----------*/

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-link,
.address {
    display: none;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    color: #2E2F42;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    padding: 16px 0;
    display: block;
}



.header-logo .part-of-link,
.footer-logo .part-of-link {
    color: #4D5AE5;
}

.burger-btn {
    padding: 0;
    background-color: transparent;
}

.icon-burger {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width:768px) {
    .burger-btn {
        display: none;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .header-link {
        display: flex;
        align-items: center;
        gap: 40px;
    }



    .link {

        display: block;
        color: #2E2F42;
        font-weight: 500;
        font-style: normal;
        text-transform: capitalize;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
        padding: 24px 0;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .link.current {
        position: relative;
    }

    .link:hover,
    .link:focus,
    .address-link:hover,
    .address-link:focus,
    .link.current {
        color: #404BBF;
    }

    .link.current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        border-radius: 2px;
        width: 100%;
        height: 4px;
        background-color: #404BBF;
        opacity: 0;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .link:hover::after,
    .link:focus::after,
    .link.current::after {
        opacity: 1;
    }

    .address {
        display: block;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;

    }

    .address-link {
        display: block;
        color: #434455;
        font-size: 12px;
        line-height: 1.17;
        font-style: normal;
        text-transform: lowercase;
        letter-spacing: 0.04em;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }
}

@media screen and (min-width:1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .address-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;

    }

    .address-link {

        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
    }
}

/*----------mobale menu-------*/

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.button-menu-close {
    position: absolute;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button-menu-close:hover,
.button-menu-close:focus {
    background-color: #404bbf;

}


.button-svg-close {
    display: block;
    width: 8px;
    height: 8px;
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.button-menu-close:hover .button-svg-close,
.button-menu-close:focus .button-svg-close {
    fill: #fff;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.menu-link-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.address-list-menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.address-link-menu {
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    color: #434455;
    line-height: 1.2;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.address-link-menu:hover,
.address-link-menu:focus {
    color: #4d5ae5;
}

.menu-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 48px;
}

.menu-social-link {
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #F4F4FD;
}

.menu-social-link:hover,
.menu-social-link:focus {
    background-color: #31d0aa;
}

.menu-social-svg {
    display: block;
    width: 24px;
    height: 24px;
}


@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/*-------------main-----------------*/
.main-section {
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 72px 0;
    max-width: 320px;
    margin: 0 auto;
}

.main-hero {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 36px;
    font-style: normal;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 216px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.main-btn {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover,
.main-btn:focus {
    background-color: #404BBF;
}


@media screen and (min-width: 768px) {
    .main-section {
        padding: 112px 0;
        max-width: 768px;
    }

    .main-hero {
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        max-width: 496px;
        margin-bottom: 36px;
    }
}

@media screen and (min-width: 1158px) {
    .main-section {
        padding: 188px 0;
        max-width: 1440px;
    }
}

/*----------------------------team---------------------*/


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.features-section {
    padding: 96px 0;
}

.features-icon-list {
    display: none;
}

.features-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 72px;
}



.features-hero {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    font-style: normal;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.features-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .features-list {
        gap: 72px 24px;
    }

    .features-item {
        width: calc((100% - 24px)/2);
    }

    .features-hero {
        text-align: start;
    }
}

@media screen and (min-width: 1158px) {
    .features-section {
        padding: 120px 0;
    }

    .features-svg {
        display: block;
        width: 64px;
        height: 64px;
    }

    .features-icon-list {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background-color: #f4f4fd;
        width: 264px;
        height: 112px;
    }


    .features-list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .features-item {
        width: calc((100% - 72px)/4);
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 8px;
    }

    .features-hero {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 0;
    }
}

/*------------------------------team-----------------*/
.subtitle-team {
    background-color: #F4F4FD;
    padding: 96px 0;
}

.subtitle-hero {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 72px;
}

.subtitle-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.subtitle-cards {
    max-width: 264px;
    background-color: #FFFFFF;
    display: block;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.card-content {
    padding: 32px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.subtitle-team h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    text-transform: capitalize;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}

.subtitle-team p {
    text-transform: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.card-social {
    display: flex;
    gap: 24px;
}

.card-social-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    fill: #F4F4FD;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.card-social-svg {
    display: block;
    width: 16px;
    height: 16px;
}

.card-social-link:hover,
.card-social-link:focus {
    background-color: #404bbf;
}

@media screen and (min-width:768px) {
    .subtitle-cards {
        width: calc((100% - 24px)/2);
    }

    .subtitle-list {
        gap: 64px 24px;
    }
}

@media screen and (min-width:1158px) {
    .subtitle-team {
        padding: 120px 0;
    }

    .subtitle-cards {
        width: calc((100% - 72px)/4);
    }

    .subtitle-list {
        flex-wrap: nowrap;
        gap: 24px;
    }
}

/*---------------------------portfolio------------------*/

.subtitle-portfolio {
    padding: 96px 0;
}

.subtitle-hero {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin: 0 auto;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 48px;
}

.portfolio-item {

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thumb {
    overflow: hidden;
    position: relative;

}

.overlay-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.overlay {
    background-color: #4d5ae5;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}

.portfolio-item:hover .overlay {
    transform: translateY(0);
}

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}



@media screen and (min-width:768px) {}

@media screen and (min-width:1158px) {}