/*-----------------------------------------Global-----------------------------------------*/


/*---------------------------------------Header------------------------------------------*/



/*------------------------------------------------------Main------------------------------------------------*/






/*----------------------------------------Features-------------------------------------------------*/









/*------------------------------------------------Team-------------------------------------------*/



/*-------------------------------------------------------Portfolio---------------------------------------------*/



.subtitle-portfolio {
    padding: 120px 0;
}



.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    width: calc((100% - 48px)/3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thumb {
    overflow: hidden;
    position: relative;

}

.overlay-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.overlay {
    background-color: #4d5ae5;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}

.portfolio-item:hover .overlay {
    transform: translateY(0);
}

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.container-portfolio {
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    padding: 32px 16px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.subtitle-portfolio h3 {

    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    text-transform: capitalize;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.subtitle-portfolio p {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*----------------------------------------------------Footer----------------------------------------------------*/
.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.container-footer-social {
    width: 208px;
}

.container-footer-logo {
    margin-right: 120px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    color: #F4F4FD;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    color: #f4f4fd;
    text-transform: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    width: 264px;
}

.footer-text::first-letter {
    color: #f4f4fd;
    text-transform: uppercase;
}

.footer-social {
    display: flex;
    gap: 16px;
}

.footer-social-link {
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #F4F4FD;
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.footer-social-svg {
    display: block;
    width: 24px;
    height: 24px;
}

.footer-social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    width: 208px;
}

.container-footer {
    display: flex;
    align-items: baseline;
}

.footer-subscribe {
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.footer-form {
    display: flex;
    align-items: center;
}

.footer-input {
    outline: none;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding-left: 16px;
    color: #fff;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:focus {
    border-color: #31d0aa;

}

.footer-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    padding: 8px;
}


.footer-submit-button {
    display: block;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-left: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-submit-button:hover,
.footer-submit-button:focus {
    background-color: #31d0aa;
}

.footer-send {
    fill: #fff;
    width: 24px;
    height: 24px;
}


/*------------------------------------------------------modal------------------------------------------------*/

.backdrop {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-close {
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    position: absolute;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border: none;
}

.button-modal-close {
    display: block;
    width: 8px;
    height: 8px;
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .button-modal-close,
.modal-close:focus .button-modal-close {
    fill: #fff;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    max-width: 360px;

    margin-bottom: 16px;
}

.form-field {
    margin-bottom: 8px;
}

.input-wrapper {
    position: relative;
}

.form-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 40px;
    background-color: transparent;
    padding-left: 38px;
    color: #2E2F42;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border-color: #4d5ae5;
    outline: none;
}

.form-icon {
    width: 18px;
    height: 24px;
    fill: #2e2f42;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus+.form-icon {
    fill: #4d5ae5;
}

.form-textarea {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    resize: none;
    margin-bottom: 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
    border-color: #4d5ae5;
    outline: none;
}

.form-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);

}

.form-field-checkbox {
    width: 360px;
    height: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 24px;
}

.form-field-label {
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    font-size: 12px;
    color: #8e8f99;
}

.checkbox-link {
    line-height: 1.3;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.label-span {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    fill: transparent;
    background-color: transparent;
    margin-right: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked+.form-field-label>.label-span {
    background-color: #404bbf;
    border-color: #404bbf;
    fill: #f4f4fd;
}


.form-checkbox:focus+.form-field-label .label-span,
.form-field-label:hover .label-span {
    border-color: #404bbf;
}


.form-icon-mark {
    display: block;
    width: 10px;
    height: 8px;
}

.form-submit {
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-submit:hover,
.form-submit:focus {
    background-color: #404bbf;
}