body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/*-------------header-----------*/

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-link,
.address {
    display: none;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    color: #2E2F42;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    padding: 16px 0;
    display: block;
}



.header-logo .part-of-link,
.footer-logo .part-of-link {
    color: #4D5AE5;
}

.burger-btn {
    padding: 0;
    background-color: transparent;
}

.icon-burger {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width:768px) {
    .burger-btn {
        display: none;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .header-link {
        display: flex;
        align-items: center;
        gap: 40px;
    }



    .link {

        display: block;
        color: #2E2F42;
        font-weight: 500;
        font-style: normal;
        text-transform: capitalize;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
        padding: 24px 0;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .link.current {
        position: relative;
    }

    .link:hover,
    .link:focus,
    .address-link:hover,
    .address-link:focus,
    .link.current {
        color: #404BBF;
    }

    .link.current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        border-radius: 2px;
        width: 100%;
        height: 4px;
        background-color: #404BBF;
        opacity: 0;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .link:hover::after,
    .link:focus::after,
    .link.current::after {
        opacity: 1;
    }

    .address {
        display: block;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;

    }

    .address-link {
        display: block;
        color: #434455;
        font-size: 12px;
        line-height: 1.17;
        font-style: normal;
        text-transform: lowercase;
        letter-spacing: 0.04em;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }
}

@media screen and (min-width:1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .address-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;

    }

    .address-link {

        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
    }
}

/*----------mobale menu-------*/

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}